<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comp Prop</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="el">
        {{welcome}}
        <br>
        <label for="">Find Movie</label>
        <br>
        <input v-model="findMovie">
        <ul>
            <li v-for="movie in filteredMovies">{{movie}}</li>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#el',
            data() {
                return {
                    welcome: "Movie Finder",
                    findMovie: '',
                    movies: [
                        'Gone with the wind',
                        'Gandi',
                        'American Pie',
                        'American Beauty',
                        'Jack And Jill',
                        'Grease',
                        'Final Destination'
                    ]
                }
            },
            computed: {
                filteredMovies() {
                    let filter = new RegExp(this.findMovie, 'i');
                    return this.movies.filter(el => el.match(filter));
                }
            }

        });
    </script>
</body>

</html>